<!--
  Generated template for the LokasirsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lokasi Rumah Sakit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div #map id="map"></div> 

</ion-content>
<ion-footer no-shadow>
  <ion-card>
    <ion-card-header>
      Alamat: {{rmsakit.alamat}}
    </ion-card-header>   
    <ion-row>
      <button ion-button block color="map" (click)="lokasiPage(rmsakit)" >
        Ganti lokasi
      </button>
    </ion-row>
  </ion-card>
</ion-footer>
