<ion-header>
    <ion-navbar>
       <ion-title text-left>Pasien</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <section class="content">
    <ion-searchbar (ionInput)="cariPasien($event)" placeholder="cari Pasien.."></ion-searchbar>
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                            <tbody>
                    <tr>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Telp</th>
                        <th>Action</th>
                    </tr>
                    <ion-spinner *ngIf="!pasienList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                    <tr *ngFor="let item of pasienList">
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phoneNo}}</td>
                        <td>
                                <button class="button label label-success" (click)="detailPasien(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Detail</button>
                                <button class="button" (click)="editPasien(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Ubah</button>                          
                        </td>
                    </tr>
                        </tbody>
                </table>    
            </div>
        </div>
    </div>
  </div>
    </section>
  
  </ion-content>