<!--
  Generated template for the ListChatKurirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat Pasien</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-spinner *ngIf="!adsupports" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
    <ion-item *ngFor="let adchat of adsupports" (click)="chatAd(adchat.id)">      
      <ion-avatar item-start>
        <img src="assets/imgs/menu5.png">
      </ion-avatar>
      <h2>Pasien: {{adchat.name}}</h2>
      <ion-icon name="chatbubbles" item-end></ion-icon>
      <ion-badge *ngIf="adchat.ctbr" item-end>Baru</ion-badge>
    </ion-item>
</ion-list>
</ion-content>
