<!--
  Generated template for the RumahsakitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Rumah Sakit</ion-title>
    <ion-buttons end>
      <button ion-button (click)="tambah()">
         Tambah Rumah Sakit
      </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="rumahsakit != 0">
    <ion-searchbar (ionInput)="cariRS($event)" placeholder="Cari berdasarkan nama rumah sakit"></ion-searchbar>
        
    <ion-item *ngFor="let item of rumahsakit">     
      <ion-thumbnail item-start>
          <img src="{{item.downloadURL}}">
      </ion-thumbnail>      
      <h2>{{item.name}}</h2>
      <p>{{item.keterangan}}</p>
      <p>{{item.teleponcc}}</p>
      <p>{{item.teleponapotik}}</p>
      <button ion-button clear item-end (click)="detail(item)">Lihat</button>
      <button ion-button clear item-end (click)="rubah(item)">Rubah</button>
      <button *ngIf="setlokasi" ion-button clear item-end (click)="lokasi(item)">lokasi</button>
      <button *ngIf="!setlokasi" ion-button clear item-end (click)="addlokasi(item)">Add Lokasi</button>
      <button ion-button clear item-end (click)="hapus(item.id)">Hapus</button>
    </ion-item>
    </ion-list>
</ion-content>
