<!--
  Generated template for the DetailkurirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detail Pasien</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
    <section class="content">
      <ion-row class="row">
          <ion-col col-3 class="col-md-3">
              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <img (click)="gantiGambarPasien(pasien)" class="profile-user-img img-responsive img-circle" src="{{pasien.downloadURL}}" onError="this.src='assets/images/person.png';" alt="User profile picture">
    
                  <h3 class="profile-username text-center">{{pasien.name}}</h3>
    
                  <p class="text-muted text-center">{{pasien.email}}</p>
                  <p class="text-muted text-center">{{pasien.phoneNo}}</p>                  
                      
                  <button class="btn btn-info btn-block"  ion-item (click)="edit(pasien)">
                          Rubah Akun
                        <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
                  </button>
                </div>
                <!-- /.box-body -->
              </div>
        </ion-col>
        <ion-col col-9>
            <div class="box box-primary">
          
            <div class="row header">
                <div class="col nama">Invoice</div>
                <div class="col nama">Status</div>
                <div class="col nama">ongkir</div>
                <div class="col telp">total</div>
                <div class="col action">Action</div>
            </div>
            <ion-spinner *ngIf="!invoiceList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
            <div class="row" *ngFor="let order of invoiceList">
                <div class="col nama">{{order.kodeinvoice}}{{order.invoice}}</div>
                <div class="col telp">{{order.status}}</div>
                <div class="col telp">{{order.ongkir  | currency: values.currency:'symbol':'1.2-2'}}</div>
                <div class="col telp">{{order.total  | currency: values.currency:'symbol':'1.2-2'}}</div>
                <div class="col action">
                    <button class="button" (click)="lihatOrder(order)"><ion-icon ios="ios-camera" md="md-camera"></ion-icon>Lihat</button>
                </div>
            </div>
          
        </div>
        </ion-col>
  
      </ion-row>
    </section>
    </ion-content>
