<!--
  Generated template for the AdminorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title text-left>List Order</ion-title>
      <ion-buttons end>
          <button ion-button (click)="blmdiantarOrder()">
              Belum diproses
            </button>
            <button ion-button (click)="sdgdiantarOrder()">
                Sedang diproses
              </button>
              <button ion-button (click)="deliveredOrder()">
                   Delivered
                </button>
                <button ion-button  (click)="cancelOrder()">
                     Cancel
                  </button>
                  <!--
        <button ion-button icon-only (click)="downloadCSV()">
            <ion-icon name="download"></ion-icon> Download Excel
          </button>
        -->
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <section class="content">
        <ion-searchbar (ionInput)="cariOrder($event)" placeholder="Cari berdasarkan nama pasien"></ion-searchbar>
        <ion-row>
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Invoice</th>
                    <th>Status</th>
                    <th>Pasien</th>
                    <th>Kurir</th>
                    <th>Total Order</th>
                    <th>Action</th>
                  </tr>
                  <ion-spinner *ngIf="!orderList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                  <tr *ngFor="let item of orderList">
                    <td>{{item.kodeinvoice}}{{item.invoice}}</td>
                    <td>
                    <p *ngIf="item.status == 'noResponse'">Menunggu kurir</p>  
                    <p *ngIf="item.status == 'pending'" color="secondary"> Sedang diproses</p>  
                    <p *ngIf="item.status == 'delivered'" color="secondary"> Delivered</p>  
                    <p *ngIf="item.status == 'rejected'" color="red"> Dibatalkan</p>  
                    </td>
                    <td>{{item.pasienDetails.name}}</td>
                    <td *ngIf="item.kurirDetails">{{item.kurirName}}</td>
                    <td *ngIf="!item.kurirDetails">Belum Ada Kurir</td>
                    <td>{{item.total | currency: values.currency:'symbol':'1.2-2'}}</td>
                    <td>
                        <button ion-button no-padding icon-left no-margin clear class="button label label-success" (click)="detailOrder(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Detail</button>
                      <!--  <button ion-button no-padding icon-left no-margin clear (click)="lokasiOrder(item)"><ion-icon name="map"></ion-icon> Lokasi</button> -->
                        <button ion-button no-padding icon-left no-margin clear (click)="getOrderPdf(item.id)">
                               <ion-icon name="eye" style="color: #ff6868;"></ion-icon>
                               Pdf Download
                            </button>
                            <button ion-button no-padding icon-left no-margin clear (click)="deleteOder(item.id)"><ion-icon color="shadow" ios="ios-trash" md="md-trash"></ion-icon>Hapus</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ion-row>
      </section>
  </ion-content>
  