page-addlokasirs {
    #map {
     
        height: 86%;
        height: 100%;
      }
      .map {
        height: 100%
      }
      
      .tobalagh{
        width: 100%;
      //  background-color: #3366cc;
        opacity: 1;
      }
      a[disabled], button[disabled], [ion-button][disabled]{
        opacity: 0.7;
      }
      .placename{
        border: 1px solid #7cc280;
        background-color: #f2f2f2;
      }
      .forma{
        position:relative;
        bottom:0;
        width:100%
      }
      .scroll-content{
        padding:0!important;
        }
}
