<!--
  Generated template for the AddlokasirsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lokasi Rumah Sakit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #map id="map"></div>

</ion-content>
<ion-footer no-shadow>

 <form class="forma">
   <ion-input name="placelabel" [(ngModel)]="placelabel" class="placename" type="text" placeholder="Ketik Alamat disini" ></ion-input>
   <button [disabled]="!placelabel" ion-button block color="map" class="tobalagh" (click)="sendLocation()">{{'Simpan Lokasi'}}</button>
 </form> 

</ion-footer>
