<!--
  Generated template for the EditKurirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Kurir</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          Close
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="kurir">
    <div *ngIf="kurir" class="margin">
       <ion-list>
          <ion-item>
             <ion-label floating>Kurir Name*</ion-label>
             <ion-input required type="text" [(ngModel)]="kurir.name" name="name"></ion-input>
          </ion-item>
          <ion-item>
              <h3>Email: {{kurir.email}}</h3>
          </ion-item>
          <ion-item>
             <ion-label floating>Telp*</ion-label>
             <ion-input type="text" [(ngModel)]="kurir.phoneNo" name="phoneNo" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Keterangan</ion-label>
            <ion-input type="text" [(ngModel)]="kurir.keterangan" name="keterangan" ></ion-input>
         </ion-item>
       </ion-list>
</div>
 </ion-content>
 <ion-footer>
    <div class="error-message">
        <ion-label color="white" text-wrap>{{errorMessage}}</ion-label>
    </div>
   <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="saveKurir()">Save</button>

 </ion-footer>