<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header class="main-header navbar">
        <ion-navbar>
            <ion-title>Dashboard</ion-title>
            <ion-buttons end>
                <button ion-button (click)="setting()">
                    Seting
                 </button>
                <button ion-button (click)="logout()">
                   Logout
                </button>

            </ion-buttons>
          </ion-navbar>

    </header>
</ion-header>


<ion-content padding>

    <section class="content">
    <ion-row>
    <div col-6>

    <h3 text-left>Orderan</h3>
    <ion-row> 
       <ion-col col-5>

            <div class="small-box bg-aqua">
                    <div class="inner">
                      <ion-spinner *ngIf="!orderList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                      <h3>{{orderList?.length}}</h3>        
                      <p>Total Order</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a (click)="allOrder()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
           </div>
       </ion-col>
       <ion-col col-3>
            <div class="small-box bg-green">
                    <div class="inner">
                       <ion-spinner *ngIf="!orderDeliveredList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                      <h3>{{orderDeliveredList?.length}}</h3>        
                      <p>Delivered</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a (click)="deliveredOrder()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
           </div>
          </ion-col>
  
          <ion-col col-3>
                <div class="small-box bg-yellow">
                        <div class="inner">
                                <ion-spinner *ngIf="!orderCancelList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                          <h3>{{orderCancelList?.length}}</h3>        
                          <p>Dibatalkan</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-stats-bars"></i>
                        </div>
                        <a (click)="cancelOrder()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
               </div>
          </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-4>
                <div class="small-box bg-red">
                        <div class="inner">
                                <ion-spinner *ngIf="!ordernoResponList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                          <h3>{{ordernoResponList?.length}}</h3>        
                          <p>Belum diantar</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-stats-bars"></i>
                        </div>
                        <a (click)="blmdiantarOrder()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
               </div>
        </ion-col>
       <ion-col col-4>
            <div class="small-box bg-light-blue-gradient">
                <div class="inner">
                    <ion-spinner *ngIf="!orderPendingList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                    <h3>{{orderPendingList?.length}}</h3>        
                    <p>Sedang diantar</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a (click)="sdhdiantarOrder()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
           </div>
       </ion-col>
    </ion-row>
    </div>
    <div col-1></div>
    <div col-5>
            <div class="content-header">
                    <h1 text-left>Data Akun Terverifikasi</h1>
            </div>
            <ion-row> 
               <ion-col col-4>
                    <div class="small-box bg-aqua">
                            <div class="inner">
                              <ion-spinner *ngIf="!totalPasien" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                              <h3>{{totalPasien?.length}}</h3>        
                              <p>Pasien</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-stats-bars"></i>
                            </div>
                            <a (click)="pasien()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                   </div>
               </ion-col>          
                  <ion-col col-4>
                        <div class="small-box bg-aqua">
                                <div class="inner">
                                  <ion-spinner *ngIf="!totalKurir" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                                  <h3>{{totalKurir?.length}}</h3>        
                                  <p>Kurir</p>
                                </div>
                                <div class="icon">
                                  <i class="ion ion-stats-bars"></i>
                                </div>
                                <a  (click)="Kurir()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                       </div>
                  </ion-col>
            </ion-row>
            <hr>
            <h3 text-left>Data Pengguna Tidak Terverifikasi</h3>
            <ion-row>
               <ion-col col-5>
                    <div class="small-box bg-red">
                            <div class="inner">
                              <ion-spinner *ngIf="!totalNoKurir" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                              <h3>{{totalNoKurir?.length}}</h3>        
                              <p>Kurir</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-stats-bars"></i>
                            </div>
                            <a  (click)="noKurir()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                   </div>
                </ion-col>
            </ion-row>
   
        </div>
</ion-row>
</section>
</ion-content>
