page-editfotopasien {
    .scroll-content{
        overflow-y: hidden;
    }
    ion-avatar, ion-thumbnail{width:50%;}
    .promomodal{
        width: 100%;
        position: absolute;
        padding: 20px;
        top:0px;
        left:0px;
        right:0px;
        background: #fff;
    }
}
