<ion-content class="relative">
    <div class="promomodal" *ngIf="pasien">
        <ion-col>
            <ion-thumbnail>
                <img src="{{pasien.downloadURL}}"  onError="this.src='assets/images/upload.png';">
             </ion-thumbnail>
             <input type="file" name="Choose File" (change)="onChange($event)">
        </ion-col>
      <br>
      <button ion-button class="transfer" [disabled]="disableSubmit" (click)="dismiss()">Ganti Foto Pasien</button>
    </div>
  </ion-content>
  