<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Chat ke Admin</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="dismiss()">
            Close
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <div id="chatMessage">
      <div class="message" *ngFor="let message of messages">
        <div [class]="message.userName == user ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
          <div class="userName">{{ message.userName}}</div>
          <div class="msg">{{ message.message}}</div>
        </div>
      </div>
    </div>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-input type="text" name="message" placeholder="Message" [(ngModel)]="message"></ion-input>
      <ion-buttons end>
        <button ion-button icon-right color="royal" (click)="sendMessage()">
          <ion-icon name="md-send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  