page-chat {
  .innerMessage{
    display: inline-block;
    padding: 5px 10px;
    background-color: #007aff;
    margin: 5px;
    color: white;
    border-radius: 3px;
  }
  .userName {
    font-weight: bold;
    font-size: 80%;
  }
  .message {
    font-size: 120%;
  }
  .message:after {
    content: '';
    display: block;
    clear: both;
  }
  .messageLeft {
    float: left;
  }

  .messageRight {
    float: right;
  }
    $userBackgroundColor: #387ef5;
    $toUserBackgroundColor: #fff;
  
    ion-content .scroll-content {
      background-color: #f5f5f5;
    }
  
    ion-footer {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
      background-color: #fff;
     //  height: 255px;
      height:auto;
      max-height: 130px;
    }
  
    .line-breaker {
      white-space: pre-line;
    }
  
    .input-wrap {
      padding: 0 5px;
      ion-textarea {
        position: static;
  
      }
      ion-col.col {
        padding: 0;
      }
      button {
        width: 100%;
        height: 55px;
        font-size: 1.3em;
        margin: 0;
      }
      textarea {
        border-bottom: 1px $userBackgroundColor;
        border-style: solid;
      }
    }
  
    .message-wrap {
      padding: 0 10px;
      .message {
        position: relative;
        padding: 7px 0;
        .user-img {
          position: absolute;
          border-radius: 45px;
          width: 45px;
          height: 45px;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        }
  
        .msg-detail {
          width: 100%;
          display: inline-block;
          p {
            margin: 0;
          }
          .msg-info {
            p {
              font-size: .8em;
              color: #888;
            }
          }
  
          .msg-content {
            position: relative;
            margin-top: 2px;
            border-radius: 5px;
            padding: 8px;
            border: 1px solid #ddd;
            color: #fff;
            width: auto;
            max-width: 80%;
            span.triangle {
              background-color: #fff;
              border-radius: 2px;
              height: 8px;
              width: 8px;
              top: 12px;
              display: block;
              border-style: solid;
              border-color: #ddd;
              border-width: 1px;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
            }
          }
  
        }
      }
  
      .message.left {
        .msg-content {
          background-color: $toUserBackgroundColor;
          float: left;
        }
        .msg-detail {
          padding-left: 0px;
        }
        .user-img {
          left: 0;
        }

        ion-spinner {
         position: absolute;
         top: 56px;
       }
        .msg-content {
          color: #343434;
          span.triangle {
            border-top-width: 0;
            border-right-width: 0;
            left: -5px;
          }
        }
  
      }
  
      .message.right {
        .msg-detail {
          padding-right:0px;
          .msg-info {
            text-align: right;
          }
        }
        .user-img {
          right: 0;
        }
        ion-spinner {
          position: absolute;
          right: 0px;
          top: 56px;
        }
        .msg-content {
          background-color: $userBackgroundColor;
          float: right;
          span.triangle {
            background-color: $userBackgroundColor;
            border-bottom-width: 0;
            border-left-width: 0;
            right: -5px;
          }
        }
  
      }
  
    }


    .avatar-users{
     float: left;
     width: 40px;
     border-radius: 50%;
     margin-right: 8px;
  
   }
   .name-title{
     margin-top: 7px;
     font-size: 18px;
     color: white;
   }
}
