<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Employees (admin)</ion-title>
    <ion-buttons *ngIf="adminmaster" end>
        <button ion-button (click)="addAdmin()">
            Buat Akun Admin Baru
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <section class="content">
    <ion-searchbar (ionInput)="cariAdmin($event)" placeholder="Cari berdasarkan nama admin"></ion-searchbar>
    <ion-row>
      <div class="box">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Nama</th>
                <th>Email</th>
                <th>Telepon</th>
                <th>Hak Akses</th>
                <th>Action</th>
              </tr>
              <ion-spinner *ngIf="!adminList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
              <tr *ngFor="let item of adminList">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNo}}</td>
                <td>
                  <p *ngIf="item.role">Bisa edit dan add akun admin</p>
                  <p *ngIf="!item.role">Tidak bisa edit dan add akun admin</p>
                </td>
                <td>
                    <button *ngIf="adminmaster" class="button label label-success" (click)="edit(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon>Rubah Akun</button>
                    <button *ngIf="adminmaster" class="button label label-success" (click)="changepassword(item.email)"><ion-icon ios="ios-create" md="md-create"></ion-icon>Rubah Password</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ion-row>
  </section>
</ion-content>
