<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="service.cart.line_items">
    <ion-item *ngFor="let item of service.cart.line_items">
      <ion-thumbnail item-start>
          <img src="{{item.nota}}">
        </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <p>{{item.keterangan}</p>
      <button ion-button clear item-end (click)="rubah(item.id)">Rubah</button>
      <button ion-button clear item-end (click)="hapus(item.id)">Hapus</button>
    </ion-item>
  </ion-list>
</ion-content>
