<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Syarat dan ketentuan untuk Pasien</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <form #f="ngForm">
    <ion-list>
      <ion-item>
          <ion-label floating>Judul</ion-label>
          <ion-input type="text" [(ngModel)]="title" name="title"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Keterangan</ion-label>
          <ion-textarea type="text" rows="4" [(ngModel)]="keterangan" name="keterangan"></ion-textarea>
      </ion-item>
      <ion-item>
      </ion-item>
    </ion-list>
    </form>

    <div style="margin:11px 3px 5px 3px;">
        <button ion-button block color="secondary" (click)="saveTerms()">Save</button>
     </div>
  </ion-content>
  