<ion-header class="theme_background">
    <ion-navbar>
        <ion-title>Histori Setoran Kurir</ion-title>
      </ion-navbar>
  </ion-header>
  <ion-content>
    <section class="content">
      <div class="wallet_wrapper">
          <ion-row>
                    <ion-col col-4>
                            <h6>Setoran</h6>
                            <h1>{{ 1*ongkirTotal - 1*komisiTotal | currency: values.currency:'symbol':'1.2-2'}}</h1>
                    </ion-col>
                    <ion-col col-4>
                            <h6>Komisi</h6>
                            <h2>{{ komisiTotal | currency: values.currency:'symbol':'1.2-2'}}</h2>
                    </ion-col>
          </ion-row>      
            
          <div class="wallet_tab_content">
              <ul>
              <ion-spinner *ngIf="!myDoneKomisi" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>               
                  <li *ngFor="let komisi of myUnDoneKomisi">
                      <ion-row>
                          <ion-col col-6>
                              <h4>{{komisi.deliveryDate | date}}</h4>
                              <div class="payment_detail">
                                  <h6>Order #{{komisi.kodeinvoice}}{{komisi.invoice}}</h6>
                              </div>
                          </ion-col>
                          <ion-col col-6>
                              <div class="payment_detail">
                                  <p>Ongkir: {{komisi.ongkir | currency: values.currency:'symbol':'1.2-2'}}</p>
                                  <p>Komisi: <strong>{{komisi.komisi | currency: values.currency:'symbol':'1.2-2'}}</strong></p>
                              </div>
                              <div class="clear"></div>  
                          </ion-col>
                      </ion-row>
  
                    
                  </li>
              </ul>
          </div>
      </div>
    </section>
  
  </ion-content>
  