<!--
  Generated template for the SettingongkirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Setting ongkir</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          Close
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f="ngForm">
  <ion-list>

      <ion-item style="padding-top:10px;padding-bottom: 5px;">
          <ion-label stacked>Setting Order Per Km (Order baru yang dikirim ke kurir. sesuai jarak antara rumah sakit dengan kurir.)</ion-label>
             <ion-input type="number" [(ngModel)]="form.distance" name="distance"></ion-input>
       </ion-item>

       <ion-item style="padding-top:10px;padding-bottom: 5px;">
          <ion-label stacked>Harga Ongkos Tetap</ion-label>
             <ion-input [(ngModel)]="form.addongkir" name="addongkir"></ion-input>
          </ion-item>

       <ion-item style="padding-top:10px;padding-bottom: 5px;">
        <ion-label stacked>Harga Ongkos Kirim per Meter</ion-label>
           <ion-input [(ngModel)]="form.ongkir" name="ongkir"></ion-input>
        </ion-item>

        <ion-item style="padding-top:10px;padding-bottom: 5px;">
          <ion-label stacked>Komisi kurir . contoh 30% menjadi 0.3</ion-label>
             <ion-input [(ngModel)]="form.perkomisi" name="perkomisi"></ion-input>
          </ion-item>

  </ion-list>
</form>
</ion-content>
<ion-footer>
    <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="saveSetting()">Save</button>
</ion-footer>