<!--
  Generated template for the AddkuponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addkupon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="margin">
        <form #f="ngForm">
       <ion-list>
          <ion-item>
             <ion-label floating>Nama Voucher*</ion-label>
             <ion-input required type="text" [(ngModel)]="form.name" name="name"></ion-input>
          </ion-item>
          <ion-item>
             <ion-label floating>Kode Voucher</ion-label>
             <ion-input required type="text" [(ngModel)]="form.kode" name="kode"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Jumlah Pengguna Voucher</ion-label>
              <ion-input required type="number" [(ngModel)]="form.qty" name="qty"></ion-input>
           </ion-item>
           <ion-item>
              <ion-label floating>Harga Potongan</ion-label>
              <ion-input required type="number" [(ngModel)]="form.voucher" name="voucher"></ion-input>
           </ion-item> 
       </ion-list>
       </form>
      </div>
 </ion-content>
<ion-footer>
    <div class="error-message">
        <ion-label color="white" text-wrap>{{errorMessage}}</ion-label>
   </div>
   <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="addKupon()">Tambahkan</button>

</ion-footer>