<!--
  Generated template for the UpdateKurirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>update-kurir</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="margin">
        <form #f="ngForm">
           <ion-list>
              <ion-item style="padding-top:10px" class="option">
                  <ion-label>Pilih Kurir</ion-label>
                  <ion-select [(ngModel)]="form.kurir"  name="kurir">
                     <ion-option *ngFor="let item of kurirList" value="{{item.name}}">{{item.name}}</ion-option>
                  </ion-select>
              </ion-item>
            </ion-list>
          </form>
            <div class="error-message">
               <ion-label color="white" text-wrap>{{errorMessage}}</ion-label>
            </div>
    <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="updateOrderKurir()">Save</button>
  </div>
</ion-content>
