page-setoran {
    .nav_header_title{
        width: calc(100% - 180px) !important;
      }
      .wallet_wrapper{
        width: 100%;
        padding-top: 20px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(199, 192, 192, 0.14), 0 3px 1px -2px rgba(218, 215, 215, 0.2), 0 1px 5px 0 rgba(185, 184, 184, 0.12);
    box-shadow: 0 2px 2px 0 rgba(199, 192, 192, 0.14), 0 3px 1px -2px rgba(218, 215, 215, 0.2), 0 1px 5px 0 rgba(185, 184, 184, 0.12);
        h6{
          text-align: center;
          color: #b1b1b1;
          font-weight:400;
          margin:0px;
        }
        h1{
          text-align: center;
          color: #431e5f;
          margin:0px;
          font-weight:300;
          font-size: 25px;
        }
        h2{
          text-align: center;
          color: #431e5f;
          margin:0px;
          font-weight:300;
          font-size: 25px;
          line-height: 25px;
        }
        h4{
          color: #696969;
          text-align: center;
          margin:0px;
          font-size: 18px;
        }
        button{
          height:35px;
          border-radius: 20px;
          color: #fff;
          padding-left: 25px;
          padding-right:25px;
          text-transform: capitalize;
          margin:5px;
        }
        .pay_now{
          background:#1f5282;
        }
        .add_money{
          background:#cd2e63;
          margin: 10px auto;
          width: 100%;
        }
        .wallet_tab_bay{
          width:100%;
          padding-top: 10px;
          padding-bottom: 10px;
          ul{
            margin:0px;
            padding:0px;
            text-align: center;
            li{
              list-style: none;
              display: inline-block;
              color: #949494;
              font-size: 18px;
              padding-left:20px;
              padding-right: 20px;
              text-align: left;

              hr{
                border:2px solid #fff;
                width:30%;
                height:0px;
                border-radius:20px;
                margin-left:0px;
              }
            }
            .active{
              color: #431e5f;
              font-weight: 600;
              hr{
                border:2px solid #3df6ef;
                width:30%;
                height:0px;
                border-radius:20px;
                margin-left:0px;
              }
            }
          }
        }
        .wallet_tab_content{
          width: 100%;
          ul{
            padding:0px;
            margin:0px;
            li{
              list-style: none;
              width:100%;
              border-bottom:1px solid #cecece;
              padding: 15px;
              padding-left: 20px;
              padding-right:20px;
              float:left;
              h4{
                margin:0px;
                padding:0px;
                text-align: left;
                color: #606060;
                font-weight: 400;
                font-size: 16px;
                padding-bottom:15px;
              }
              .payment_circle{
                width:55px;
                height:55px;
                border:1px solid #cccccc;
                border-radius: 50%;
                float: left;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: 25px !important;
              }
              .payment_detail{
                float: left;
                width:100%;
                h5{
                  margin:0px;
                  padding:0px;
                  text-align: left;
                  color: #606060;
                  font-weight: 400;
                  padding-bottom: 2px;
                  font-size: 16px;
                }
                h6{
                  margin:0px;
                  padding:0px;
                  text-align: left;
                  color: #431e5f;
                  font-weight: 400;
                  padding-bottom: 2px;
                  font-size: 17px;
                }
                p{
                  margin:0px;
                  padding:0px;
                  text-align: left;
                  color: #b7b7b7;
                  font-weight: 400;
                  letter-spacing: 1px;
                  font-size: 14px;
                }
              }
              .payment_price{
                widows: 76px;
                float:right;
                text-align: right;
                strong{
                  color: #494848;
                  font-size: 16px;
                }
              }
    
            }
          }
        }
      }
}
