<!--
  Generated template for the DeliveredPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header class="main-header navbar">
        <ion-navbar>
            <ion-title>Kode Voucher</ion-title>
            <ion-buttons end>
                <button ion-button (click)="addKupon()">
                  Buat Voucher Baru
                </button>
            </ion-buttons>
          </ion-navbar>
  
    </header>
  </ion-header>
  
  
  <ion-content padding>
      <section class="content">
        <ion-searchbar (ionInput)="cariKupon($event)" placeholder="Cari berdasarkan nama kode voucher"></ion-searchbar>
        <ion-row>
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Nama Kode Voucher</th>
                    <th>Kode VOucer</th>
                    <th>Jumlah</th>
                    <th>Harga Potongan</th>
                    <th>Action</th>
                  </tr>
                  <ion-spinner *ngIf="!kuponList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                  <tr *ngFor="let item of kuponList">
                    <td>{{item.name}}</td>
                    <td>{{item.kode}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.voucher | currency: values.currency:'symbol':'1.2-2'}}</td>
                    <td>
                        <button class="button label label-success" (click)="editKupon(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Edit</button>
                        <button class="button label label-success" (click)="deleteKupon(id)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ion-row>
      </section>
  </ion-content>
  