page-detailrm {
    ion-card {
        margin: 0!important;
        padding: 0 0 10px 0!important;
        width:100%!important;
        
            -webkit-box-shadow: 0 2px 2px 0 rgba(199, 192, 192, 0.14), 0 3px 1px -2px rgba(218, 215, 215, 0.2), 0 1px 5px 0 rgba(185, 184, 184, 0.12);
            box-shadow: 0 2px 2px 0 rgba(199, 192, 192, 0.14), 0 3px 1px -2px rgba(218, 215, 215, 0.2), 0 1px 5px 0 rgba(185, 184, 184, 0.12);
        
    }
    ion-card img {
        max-width: 100%;
        max-height: 260px;
    }
    button.edit{
        font-size: 14px!important;
        font-weight: 900!important;
    }
    .col.header{
        min-width :30% !important;
        max-width :30% !important;
        font-weight: 900;
        }
        .col.ket{
            min-width :70% !important;
            max-width :70% !important;
            font-weight: 900;
            }
}
