<!--
  Generated template for the DetailsellerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-left>Detail Rumah Sakit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <section class="content">

    <ion-row>
      <ion-col col-3>

          <ion-card *ngIf="rmsakit">
              <div class="row">
                  <div class="col header">Nama</div>
                  <div class="col ket">{{rmsakit.name}}</div>
              </div>
              <div class="row">
                    <div class="col header">Telp RS</div>
                    <div class="col ket">{{rmsakit.teleponcc}}</div>
              </div>
              <div class="row">
                  <div class="col header">Telp Apotik</div>
                  <div class="col ket">{{rmsakit.teleponapotik}}</div>
              </div>               
           </ion-card>

           <ion-card>
              <ion-list>

              <button *ngIf="!rmsakit.setlokasi" class="edit" ion-item (click)="createlokasiRM(rmsakit)">
                  <ion-icon name="map" item-start></ion-icon>
                  Buat Lokasi RM
                  <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
                </button>

              <button *ngIf="rmsakit.setlokasi" class="edit" ion-item (click)="lokasiRM(rmsakit)">
                <ion-icon name="map" item-start></ion-icon>
                Lihat Lokasi
                <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
              </button>

              <button class="edit"  ion-item (click)="editRM(item)">
                <ion-icon ios="ios-create" md="md-create" item-start></ion-icon>
                Edit Informasi RS
                <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
              </button> 

            </ion-list>
          </ion-card>
      </ion-col>

      <ion-col col-9>
          <ion-card>
            <ion-col (click)="gantiGambarRM(rmsakit)">
                <img src="{{rmsakit.downloadURL}}" onError="this.src='assets/images/upload.png';"/>
                <button class="btn btn-dark btn-block pull-right">Ganti gambar Rumah Sakit</button>
            </ion-col>
          </ion-card>
          <ion-row *ngIf="invoiceList">
              <ion-card>
                  <div class="row header">
                      <div class="col nama">Invoice</div>
                      <div class="col nama">Status</div>
                      <div class="col nama">ongkir</div>
                      <div class="col nama">komisi</div>
                      <div class="col telp">total</div>
                      <div class="col action">Action</div>
                  </div>
                  <ion-spinner *ngIf="!invoiceList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                  <div class="row" *ngFor="let order of invoiceList">
                      <div class="col nama">{{order.kodeinvoice}}{{order.invoice}}</div>
                      <div class="col telp">{{order.status}}</div>
                      <div class="col telp">{{order.ongkir  | currency: values.currency:'symbol':'1.2-2'}}</div>
                      <div class="col telp">{{order.komisi  | currency: values.currency:'symbol':'1.2-2'}}</div>
                      <div class="col telp">{{order.total  | currency: values.currency:'symbol':'1.2-2'}}</div>
                      <div class="col action">
                          <button class="button" (click)="lihatOrder(order)"><ion-icon ios="ios-camera" md="md-camera"></ion-icon>Lihat</button>
                      </div>
                  </div>
                </ion-card>
          </ion-row>

    </ion-col>
    </ion-row>
  </section>
</ion-content>