<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Chat Pasien ke Admin</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>     
    <ion-item *ngFor="let adchat of adsupports" (click)="chatAd(adchat.id)">
      <ion-avatar item-start>
        <img src="assets/imgs/person.png">
      </ion-avatar>
      <h2>{{adchat.name}}</h2>
      <ion-icon name="chatbubbles" item-end></ion-icon>
    </ion-item>
</ion-list>
</ion-content>
