<!--
   Generated template for the SettingsPage page.
   
   See http://ionicframework.com/docs/components/#navigation for more info on
   Ionic pages and navigation.
   -->
   <ion-header>
      <ion-navbar >
         <ion-title text-left>Setting</ion-title>
      </ion-navbar>
   </ion-header>
   <ion-content>
      <div>
         <form #f="ngForm">
            <ion-list>
              <!--
               <ion-item style="padding-top:10px;padding-bottom: 5px;">
                  <ion-label floatingy>Mata Uang</ion-label>
                     <ion-select [(ngModel)]="form.currency" name="currency">
                        <ion-option value="Rp">Indonesia Rupiah</ion-option>
                     </ion-select>
               </ion-item>
              <ion-item style="padding-top:10px;padding-bottom: 5px;">
               <ion-label floatingy>Kode Invoice</ion-label>
                  <ion-input [(ngModel)]="form.kodeinvoice" name="kodeinvoice"></ion-input>
             </ion-item>
             <ion-item style="padding-top:10px;padding-bottom: 5px;">
               <ion-label floatingy>Nomor Invoice</ion-label>
                  <ion-input type="number" [(ngModel)]="form.invoice" name="invoice"></ion-input>
             </ion-item>
             <ion-item style="padding-top:10px;padding-bottom: 5px;">
                 <ion-label floatingy>Batas radius pelanggan dengan toko terdekat. Per Km</ion-label>
                    <ion-input type="number" [(ngModel)]="form.distance" name="distance"></ion-input>
              </ion-item>
   
              <ion-item style="padding-top:10px;padding-bottom: 5px;">
               <ion-label floatingy>Harga Ongkos Kirim per Meter</ion-label>
                  <ion-input [(ngModel)]="form.ongkir" name="ongkir"></ion-input>
               </ion-item>
   
               <ion-item style="padding-top:10px;padding-bottom: 5px;">
                 <ion-label floatingy>Komisi kurir . contoh 30% menjadi 0.3</ion-label>
                    <ion-input [(ngModel)]="form.perkomisi" name="perkomisi"></ion-input>
                 </ion-item>
                -->
               <ion-item style=" background-color:#f2f2f2; margin-bottom:4px" no-lines>
                  <ion-label style="font-size: 15px;">Banners</ion-label>
               </ion-item>
               <div *ngIf="banners" class="banners">
                  <ion-item class="banner-padding">
                     <ion-thumbnail>
                        <img src="{{banners[0]}}">
                     </ion-thumbnail>
                     <input style="padding-top: 5px" type="file" name="select Image" (change)="onChangeBanner($event, 0)">
                  </ion-item>
                  <ion-item class="banner-padding">
                     <ion-thumbnail>
                        <img src="{{banners[1]}}">
                     </ion-thumbnail>
                     <input style="padding-top: 5px" type="file" name="select Image" (change)="onChangeBanner($event, 1)" >
                  </ion-item>
                  <ion-item class="banner-padding">
                     <ion-thumbnail>
                        <img src="{{banners[2]}}">
                     </ion-thumbnail>
                     <input style="padding-top: 5px" type="file" name="select Image" (change)="onChangeBanner($event, 2)" >
                  </ion-item>               
               </div>
               <!--
               <ion-item style=" background-color:#f2f2f2; margin-bottom:4px" no-lines>
                   <ion-label style="font-size: 15px;">Banners</ion-label>
                </ion-item>
                <div *ngIf="info" class="info">
                   <ion-item class="banner-padding">
                           <ion-input required type="text" [(ngModel)]="info.name[0]" name="name"></ion-input>
                      <input style="padding-top: 5px" type="text" name="info" (change)="onSaveInfo($event, 0)">
                   </ion-item>
                 </div>
               -->
           </ion-list>
         </form>
         <div style="margin:11px 3px 5px 3px;">
            <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="saveSetting()">Save</button>
         </div>
      </div>
   </ion-content>