<!--
  Generated template for the EditkuponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Kode Voucher</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="kupon" class="margin">
       <ion-list>
          <ion-item>
             <ion-label floating>Nama Voucher*</ion-label>
             <ion-input required type="text" [(ngModel)]="kupon.name" name="name"></ion-input>
          </ion-item>
          <ion-item>
             <ion-label floating>Kode Voucher</ion-label>
             <ion-input required type="text" [(ngModel)]="kupon.kode" name="kode"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Jumlah Pengguna Voucher</ion-label>
              <ion-input required type="text" [(ngModel)]="kupon.qty" name="qty"></ion-input>
           </ion-item>
           <ion-item>
              <ion-label floating>Harga Potongan</ion-label>
              <ion-input required type="text" [(ngModel)]="kupon.voucher" name="voucher"></ion-input>
           </ion-item> 
       </ion-list>
      </div>
 </ion-content>
<ion-footer>
    <div class="error-message">
        <ion-label color="white" text-wrap>{{errorMessage}}</ion-label>
   </div>
   <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="saveKupon()">Save</button>

</ion-footer>