page-chat-pasien {
    .innerMessage{
        display: inline-block;
        padding: 5px 10px;
        background-color: #6fadee;
        margin: 5px;
        color: black;
        border-radius: 3px;
      }
      .userName {
        font-weight: bold;
        font-size: 80%;
      }
      .message {
        font-size: 120%;
      }
      .message:after {
        content: '';
        display: block;
        clear: both;
      }
      .messageLeft {
        float: left;
        background-color: #fff;
      }
    
      .messageRight {
        float: right;
        background-color: #e1ffc7;
      }
      .bar-button[icon-only]{
        transform: unset!important;
        -webkit-transform:unset!important;
      }
      .has-refresher > .scroll-content{border-top: unset;}
      .text-input{color:#fff;}
}
