<!--
  Generated template for the AddrmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tambahkan Rumah Sakit</ion-title>
    <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
              Close
            </button>
          </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm">
    <ion-list>
        <ion-item class="colr">
            <ion-thumbnail>
               <img src="{{downloadURL}}" onError="this.src='assets/images/express-delivery.jpg';">
            </ion-thumbnail>
            <input type="file" name="Choose File" (change)="onChange($event)">
       </ion-item>
      <ion-item>
          <ion-label floating>Nama Rumah Sakit</ion-label>
          <ion-input type="text" [(ngModel)]="form.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Keterangan</ion-label>
          <ion-textarea type="text" rows="4" [(ngModel)]="form.description" name="description"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label floating>Telp Rumah Sakit</ion-label>
          <ion-input type="number" [(ngModel)]="form.teleponcc" name="teleponcc"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Telp Apotik</ion-label>
          <ion-input type="number" [(ngModel)]="form.teleponapotik" name="teleponapotik"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Waktu Buka dan tutup</ion-label>
          <ion-input type="text" [(ngModel)]="form.openclose" name="openclose"></ion-input>
      </ion-item>
    </ion-list>
    </form>

</ion-content>

<ion-footer>
        <div class="error-message" padding>
                <ion-label color="red" text-wrap>{{errorMessage}}</ion-label>
             </div>
        <div style="margin:11px 3px 5px 3px;">
            <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="saveRS()">Save</button>
         </div>
</ion-footer>
