<!--
  Generated template for the DetailorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Order #{{order.kodeinvoice}}{{order.invoice}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <section class="invoice">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="page-header">
              <i class="fa fa-globe"></i> Jasa Antar Obat.
              <small class="pull-right">{{order.date | date}}</small>
            </h2>
          </div>
        </div>
        <div class="row invoice-info">
          <div col-3 class="col-3 invoice-col">
            Pasien
            <address>
              <strong>{{order.pasienDetails.name}}</strong><br>
              telp: {{order.pasienDetails.phoneNo}}<br>
              Email: {{order.pasienDetails.email}}<br>
              Lokasi: {{order.location.label}}
            </address>
          </div>
          <div col-3 class="col-3 invoice-col" *ngIf="order.kurirDetails">
            Tenaga Teknis
            <address>
              <strong>{{order.kurirName}}</strong><br>
              Phone: {{order.kurirDetails.phoneNo}}<br>
              Email: {{order.kurirDetails.email}}
            </address>
          </div>
          <div col-3 class="col-3 invoice-col">
            Lokasi Rumah Sakit
            <address>
              <strong>{{order.rsDetails.name}}</strong><br>
              Telp RS: {{order.rsDetails.teleponcc}}<br>
              Lokasi: {{order.rsDetails.alamat}}
            </address>
          </div>
          <div col-3 class="col-3 invoice-col pull-right">
            <b>Invoice #{{order.kodeinvoice}}{{order.invoice}}</b><br>
            <br>
            <b class="pull-left">Status:</b>
            <p *ngIf="order.status == 'noResponse'" class="label status bg-yellow padding">
                {{order.status}}
            </p>
            <p *ngIf="order.status == 'pending'" class="label status bg-blue padding">
                {{order.status}}
            </p>
            <p *ngIf="order.status == 'delivered'" class="label status bg-green padding">
                {{order.status}}
            </p>
            <p *ngIf="order.status == 'rejected'" class="label status bg-red padding">
                {{order.status}}
            </p>
            <br>
          </div>
        </div>
        <div class="row">
          <div col-12 class="col-12 table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nama</th>
                <th>Tgl Lahir</th>
                <th>Penanggung Jawab</th>
                <th>keterangan</th>
                <th>Harga</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of order.items">
                <td>{{item.name}}</td>
                <td>{{item.tgl}}</td>
                <td>{{item.penanggungjawab}}</td>
                <td>{{item.keterangan}}</td>
                <td>{{item.price}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>  
        <div class="row">
          <div col-6 class="col-6">
            <p class="lead">Payment Methods:</p>
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Pemesanan dibayar ditempat dari pasien ke kurir. <br>
                Total cash diambil oleh kurir. <br>
                Status setoran transaksi diverifikasi oleh admin. <br>
              </p>
          </div>
          <div col-6 class="produk">
          
  
            <div class="table-responsive">
              <table class="table">
                <tbody><tr>
                  <th style="width:50%">Subtotal:</th>
                  <td>{{order.totalproduk | currency: values.currency:'symbol':'1.2-2'}}</td>
                </tr>
                <tr>
                  <th>Pengiriman:</th>
                  <td>{{order.ongkir | currency: values.currency:'symbol':'1.2-2'}}</td>
                </tr>
                <tr>
                  <th>Diskon:</th>
                  <td>{{order.voucher | currency: values.currency:'symbol':'1.2-2'}}</td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td>{{order.total | currency: values.currency:'symbol':'1.2-2'}}</td>
                </tr>
              </tbody></table>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
  
        <!-- this row will not appear when printing -->
        <div class="row no-print">
          <div col-12 class="col-12">
            <!--
            <button (click)="getPrintPdf(order.id)" target="_blank" class="button btn btn-default pull-right">
                <ion-icon name="print"></ion-icon> Print
            </button>
          -->
            <button type="button" (click)="getOrderPdf(order.id)" class="button btn btn-primary pull-right" style="margin-right: 5px;">
                <ion-icon name="card"></ion-icon>  Generate PDF
            </button>
          </div>
        </div>
      </section>
</ion-content>
