page-detailorder {
    .scroll-content{
        padding:0!important;
    }
    .table.table-striped{
        width: 100%;
    }
    .status{
        text-transform: uppercase !important;
        padding: 0 10px;
        margin: 0 10px;
        float: left;
        border-radius: 15px;
    }
    button{
        padding:10px;
        color:#fff;
        font-size:16px;
    }
    .lead {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
    }
    .col-12.table-responsive{
        margin-top:30px;
    }
    .produk{
        margin-top:20px;
        table{
            width: 100%;
            th{
                padding:10px 15px;
            }
        }
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    }
}
