<!--
  Generated template for the EditteamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Team</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="kurir">
    <div *ngIf="admin" class="margin">
       <ion-list>
          <ion-item>
             <ion-label floating>Admin Name*</ion-label>
             <ion-input required type="text" [(ngModel)]="admin.name" name="firstname"></ion-input>
          </ion-item>
          <ion-item>
             <ion-label floating>Telp*</ion-label>
             <ion-input type="number" [(ngModel)]="admin.phoneNo" name="phoneNo" ></ion-input>
          </ion-item>
       </ion-list>
        <div class="error-message">
            <ion-label color="white" text-wrap>{{errorMessage}}</ion-label>
        </div>
       <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="saveAdmin()">Rubah</button>
    </div>
 </ion-content>
