<ion-menu [content]="content"  *ngIf="this.values.isLoggedIn">
  <ion-list class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">
                <img src="assets/images/logo_white.png">
            </li>
            <li *ngFor="let p of pages" (click)="openPage(p)" tappable menuClose [ngClass]="p.active ? 'active' : 'treeview'">
                <a>
                    <ion-label item-end>
                            <ion-icon [name]="p.icon"></ion-icon>
                            {{ p.title }}
                    </ion-label>
                </a>
            </li>
        </ul>
    </section>
    </ion-list>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>