// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media (min-width: 768px) {
    .toolbar-title.toolbar-title-md{color:#8fc1bf!important;}
    .menu-inner{
        background: #171717 !important;
    }
    ion-nav.menu-content.menu-content-overlay{
        display: block;
    position: relative;
    float: right;
    width: 80%;
    }

    ion-page.tabs-page.show-page { 
        margin-right: 30% !important;
        width:70% !important;
      //  z-index:10 !important;
    }
    ion-menu {
        width: 20% !important;
        display:block !important;
        z-index:10;
        right: auto !important;
        left: 0 !important;
    }
  
    .tabs{
      left:20%!important;
      width:80%!important; }
  
    .bar-button-menutoggle {
        display: none;
    }
    
    ion-menu ion-backdrop {
        width:0px;
        display:none;
        z-index:10;
        opacity: 0;
    }
    ion-content {
        border-left: none;
        border-left-color: transparent;
    }
    ion-menu[type=overlay] .menu-inner {
        -webkit-transform: translateX(0px) !important;
        transform: translateX(0px) !important;
        box-shadow: none;
        overflow:none;
        width:100%;
  }
  
  }

.header .button-inner{
    color:#98a2a4;
    font-size:18px;
    border-radius: 15px;
    border:1px solid #98a2a4;
    padding: 0 15px;
}
.box-body .button{
    border:1px solid rgba(206, 206, 206, 0.8);
    padding:5px 10px;
    border-radius:5px;
 }
.bar-button{
    transform:unset!important;
}
.main-sidebar {
    width: 100%!important;
    -webkit-transform: initial;
    transform: initial;
    padding-top: 0!important;
    position: initial;
    min-height: initial;
    .header{
        padding:15px 45px!important;
    }
}
.sidebar-menu>li.header{
    background: #8fc1bf !important
}
.sidebar-menu>li>a{
    padding: 4px 5px 4px 15px!important;
    .label-md{
        margin: 4px 8px 4px 0;

        ion-icon{
            padding-right: 12px;
        }
    }
}
.menu-inner .list-ios, .menu-inner .list {
    margin: initial;
    min-height: 100%;
}

.menu-inner .label {
    font-size: 1.7rem;
}
.sidemenu_wrapper {
    justify-content: start!important;

}
.toolbar-background.toolbar-background-md{
background-color: #1a2226;
}
.activeHighlight{
    background-color: map-get($colors, primary)
}
.content-md{
background-color: #f2f2f2}
.searchbar-md{
    padding:8px 15px;
}
.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}
section.content ion-label,
section.content ion-thumbnail{
    margin:0!important;
}
section.content ion-searchbar{
    padding: 8px 0!important;
}
section.content th{
    font-size: 18px;
    padding-left: 15px;
}
section.content td {
    padding: 10px 0;
    font-size: 16px;
    padding-left: 15px;
    color:#545a5c;
}
section.content ion-item{
    margin-bottom:5px!important;
}
.col-xs-12,.box-body>.table {
    width: 100%;
  }
  th{text-align: left}
/*-------------------------------

03. THEMES-N-BACKGROUNDS

--------------------------------*/

.theme_background {
//    background: url('../assets/imgs/header.png');
    background-size: cover !important;
    background-position: center !important;
}

.theme_transparent {
    background: transparent !important;
}

.theme_white {
    background-color: #f7f8fd !important;
}

.theme_off_white {
    background-color: #f4f4f4 !important;
}

.theme_dark_transparent {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.theme_white_transparent {
    background-color: rgba(243, 243, 243, 0.6) !important;
}

.theme_light {
    background-color: #da1c5c !important;
}


/*-------------------------------

04. SPACING-N-POSITIONS

--------------------------------*/

.width25 {
    width: 25% !important;
}

.width50 {
    width: 50% !important;
}

.width75 {
    width: 75% !important;
}

.widthFull {
    width: 100% !important;
}

.widthAuto {
    width: auto !important;
}

.height25 {
    height: 25% !important;
}

.height50 {
    height: 50% !important;
}

.height75 {
    width: 75% !important;
}

.heightFull {
    height: 100% !important;
}

.heightAuto {
    height: auto !important;
}

.p0 {
    padding: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.p10 {
    padding: 10px !important;
}

.m0 {
    margin: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mAuto {
    margin: 0 auto !important;
}

.clear {
    clear: both !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}


/*-------------------------------

05. ALIGMENTS

--------------------------------*/

.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}


/**END**/

.has-icon .tab-badge {
    right: calc(50% - 20px);
    top: 0;
}
.header:after{display:none;}

.button{
    text-transform: none;
}

.menu{
    text-align: center;
    font-family: cairo;
    color: gray;
    font-size: 1.7rem;
}

.header-md::after{
    background-image: none !important;

}
.logo{
    display: block;
    margin: 0 auto;
    height: 22%;
}
.toolbar-background-md {background-color: white;
}
.toolbar-ios {
    min-height: 60px;
}
.toolbar-ios ion-title{
padding: 24px 4px 11px 4px;}
.picker-md .picker-wrapper {
    height: 260px;
    border-top: 0.55px solid #dedede;
    background: #fff;
    border-radius: 30px 30px 0px 0px;
}
.picker-ios .picker-wrapper {
    height: 260px;
    border-top: 0.55px solid #dedede;
    background: #fff;
    border-radius: 30px 30px 0px 0px;
}

.btchange{
    background-color: #ff8d15;
    float: right;
    font-family: cairo;

}
[dir="rtl"] .btchange{
 background-color: #ff8d15;
    float: left;

}
.plus{
    background-color: #ff8d15;
     width: 37px;
     height: 37px;
         float: right;
}
[dir="rtl"] .plus{
    background-color: #ff8d15;
     width: 37px;
     height: 37px;
     float: left;
}
@font-face {
  font-family: 'Cairo-Regular';
  src: url('../assets/fonts/Cairo-Regular.ttf') ;
  font-weight: normal;
  font-style: normal;
}
[dir="rtl"] :not(ion-icon) {
  font-family: 'Cairo-Regular' !important;
  font-size: 1.5rem !important;
}
[dir="ltr"] :not(ion-icon) {
  font-family: 'Cairo-Regular' !important;
  text-transform: none !important;

}
[dir="rtl"] .has-title-only .tab-button-text {

  white-space: normal;
  font-family: 'Cairo-Regular' !important;
  font-size: 1.5rem !important;
}
[dir="ltr"] .has-title-only .tab-button-text {

  white-space: normal;
  font-family: 'Cairo-Regular' !important;
}
.lab{
            padding-right: 30px;
       padding-left: 30px;
        margin-bottom: -26px;
    }
  [dir="ltr"] .lab{
            padding-right: 30px;
       padding-left: 30px;
        margin-bottom: -39px;
    }
     .lab2{
            padding-right: 30px;
       padding-left: 30px;
        margin-bottom: -44px;
        direction: ltr;
    }
   [dir="ltr"]  .lab2{
            padding-right: 30px;
       padding-left: 30px;
       
        direction: ltr;
    }
    .year{
    margin-top: 29px;
}
[dir="ltr"] .year{
    margin-top: 22px;
}

.arrow{
        font-size: 2rem;
    color: #ff8d15;
}
[dir="ltr"] .arrow{
        font-size: 2rem;
    color: #ff8d15;
        transform: rotate(180deg);
}
.datetime-md {
    padding: 0;
}
.Skip{
    color: gray;
    float: left
}
[dir="ltr"] .Skip{
    color: gray;
    float: right;
}
[dir="ltr"] .bar-button[icon-only]{
    transform: rotate(180deg);
}
.titlename{
    color: gray;
    text-align: center;
    padding-right: 40px;
}
[dir="ltr"] .titlename{
        color: gray;
        text-align: center;
       padding-left: 40px;
}
ion-menu[side=right] > .menu-inner {
    right: 0;
    left: auto;
}
ion-menu[side=left] > .menu-inner {
    right:auto !important;
    left:0 !important;
}
.alert-md .alert-radio-icon {
    visibility:hidden;
}

$color-primary :#ff8d15;
$color-background:#f5f7f9;

ion-header{
    -webkit-box-shadow: 0 2px 2px 0 rgba(199, 192, 192, 0.14), 0 3px 1px -2px rgba(218, 215, 215, 0.2), 0 1px 5px 0 rgba(185, 184, 184, 0.12);
    box-shadow: 0 2px 2px 0 rgba(199, 192, 192, 0.14), 0 3px 1px -2px rgba(218, 215, 215, 0.2), 0 1px 5px 0 rgba(185, 184, 184, 0.12);
  }


.text_color_white {
    color: #fff !important;
}

.text_color_theme {
    color: #759f32 !important;
}

.font_size_xs {
    font-size: 12px !important;
}

.font_size_sm {
    font-size: 14px !important;
}

.font_size_md {
    font-size: 16px !important;
}

.font_size_lg {
    font-size: 18px !important;
}

.font_size_xl {
    font-size: 20px !important;
}

.font_size_vl {
    font-size: 35px !important;
}

.font_weight300 {
    font-weight: 300 !important;
}

.font_weight400 {
    font-weight: 400 !important;
}

.font_weight500 {
    font-weight: 500 !important;
}

.font_weight600 {
    font-weight: 600 !important;
}