<!--
   Generated template for the Resetpassowrd page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
   <ion-navbar  >
      <ion-title text-left>Forgot Password</ion-title>
   </ion-navbar>
</ion-header>
<ion-content  class="forgotten">
  <div class="margin">
    <form #f="ngForm">
      <ion-item>
        <ion-input required type="email" [(ngModel)]="loginData.email" name="email" placeholder="Enter email address">
        </ion-input>
      </ion-item>
      <h2>Type in your registered email id in the field and we will send you steps to reset your password</h2>
            <div class="error-message">
        <ion-label color="danger" text-wrap>{{errorMessage}}</ion-label>
      </div>
      <button ion-button block color="button-color" class="button button-block button-default" [disabled]="disableSubmit" (click)="forgotten()">{{buttonText}}
      </button>

    </form>
    
  </div>
</ion-content>