<!--
  Generated template for the DeliveredPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order DiBatalkan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <section class="content">
      <ion-searchbar (ionInput)="cariBatalOrder($event)" placeholder="Cari berdasarkan nama pasien"></ion-searchbar>
      <ion-row>
        <div class="box">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Invoice</th>
                  <th>Pasien</th>
                  <th>Total Order</th>
                  <th>Action</th>
                </tr>
                <ion-spinner *ngIf="!batalList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                <tr *ngFor="let item of batalList">
                  <td>{{item.kodeinvoice}}{{item.invoice}}</td>
                  <td>{{item.pasienDetails.name}}</td>
                  <td>{{item.total | currency: values.currency:'symbol':'1.2-2'}}</td>
                  <td>
                      <button class="button label label-success" (click)="detailOrder(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Detail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ion-row>
    </section>
</ion-content>
