<!--
  Generated template for the ViewpdfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Pdf</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    
        <ion-input [(ngModel)]="letterObj.orderid" value="{{orderDetails.kodeinvoice}}{{orderDetails.invoice}}" placeholder="Order ID:{{orderDetails.kodeinvoice}}{{orderDetails.invoice}}"></ion-input>
        <ion-input [(ngModel)]="letterObj.status" value="{{orderDetails.status}}" placeholder="Status Order:{{orderDetails.status}}"></ion-input>
        <ion-input [(ngModel)]="letterObj.date" value="{{orderDetails.date | date}}" placeholder="Tanggal: {{orderDetails.date | date}}"></ion-input>
    
  </ion-list>  
  <ion-item *ngFor="let item of orderDetails.items">
    <ion-label stacked>Pesanan service</ion-label>
    <ion-input [(ngModel)]="letterObj.nama" value="{{item.name}}" placeholder="Nama Produk:{{item.name}}"></ion-input>
    <ion-input [(ngModel)]="letterObj.tgl" value="{{item.tgl}}" placeholder="Nama Produk:{{item.tgl}}"></ion-input>
    <ion-input [(ngModel)]="letterObj.penanggungjawab" value="{{item.penanggungjawab}}" placeholder="Nama Produk:{{item.penanggungjawab}}"></ion-input>
    <ion-input [(ngModel)]="letterObj.keterangan" value="{{item.keterangan}}" placeholder="Nama Produk:{{item.keterangan}}"></ion-input>
    <ion-input [(ngModel)]="letterObj.price" value="{{item.price | currency: values.currency:'symbol':'1.2-2'}}" placeholder="Harga: {{item.price | currency: values.currency:'symbol':'1.2-2'}}"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label stacked>Informasi Pasien</ion-label>
      <ion-input [(ngModel)]="letterObj.namapasien" value="{{orderDetails.pasienDetails.name}}" placeholder="Nama: {{orderDetails.pasienDetails.name}}"></ion-input>
      <ion-input [(ngModel)]="letterObj.emailpasien" value="{{orderDetails.pasienDetails.email}}" placeholder="Telp:{{orderDetails.pasienDetails.email}}"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label stacked>Catatan</ion-label>
    <ion-input [(ngModel)]="letterObj.text" placeholder="tambahkan catatan jika ada"></ion-input>
  </ion-item>
 
  <button ion-button full (click)="createPdf()">Create PDF</button>
  <button ion-button full (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</button>
 
</ion-content>
