<ion-header>
    <ion-navbar  >
       <ion-title text-left>Komisi</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <section class="content">
    
    <ion-row>
      <ion-col col-3>
          <div class="box">
              <div class="box-body table-responsive no-padding">
                <ion-list no-lines>
                    <ion-item class="samping">
                      <b>Informasi</b> <br>
                      1. List Data transaksi yang belum disetor <br>
                      2. Jika Kurir sudah setor silahkan klik "Data belum setoran"
                    </ion-item>
                    <button ion-button (click)="history()">
                        History Setoran (masuk kas)
                    </button> 
                  </ion-list>
              </div>
            </div>
      </ion-col>
      <ion-col col-9>
          <div class="box">
              <ion-searchbar (ionInput)="cariKurir($event)" placeholder="Cari berdasarkan nama kurir"></ion-searchbar>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th>Nama Kurir</th>
                      <th>Telp</th>
                      <th>Action</th>
                    </tr>
                    <ion-spinner *ngIf="!kurirList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                    <tr *ngFor="let item of kurirList">
                      <td>{{item.name}}</td>
                      <td>{{item.phoneNo}}</td>
                      <td>
                        <button class="button" (click)="detailKurir(item.id)"><ion-icon color="shadow" ios="ios-view" md="md-view"></ion-icon> Data belum setoran</button>
                        <button class="button" (click)="selesaiSetoran(item.id)"><ion-icon color="shadow" ios="ios-view" md="md-view"></ion-icon> Histori selesai setoran</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </ion-col>

    </ion-row>
  </section>
</ion-content>