page-list-komisi {
    .header .col {
        background-color:#f6f6f6;
        font-size: 16px;
        font-weight: 900;
        color: #98a2a4;
    }
    .col {
        border: solid 1px #f6f6f6;
        border-bottom-style: none;
        border-right-style: none;
        font-weight: 900;
        color: #98a2a4;
    }
    
    .col:last-child {
        border-right: solid 1px #f6f6f6;
    }
    
    .row:last-child .col {
        border-bottom: solid 1px #f6f6f6;
    }
    .col.name{
        min-width :38% !important;
        max-width :38% !important;
        }
        .col.telp{
            min-width :35% !important;
            max-width :35% !important;
            }
    .col.action{
        min-width :17% !important;
    max-width :17% !important;
    }
    button{padding:5px 10px;}

    .samping {
        .label{
            white-space:unset!important
          }

    } 

}
