<ion-header>
    <ion-navbar>
       <ion-title text-left>Kurir Tidak terverifikasi</ion-title>
    </ion-navbar>
 </ion-header>
 <ion-content>
    <section class="content">
    <ion-searchbar (ionInput)="cariKurir($event)" placeholder="cari kurir.."></ion-searchbar>
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                            <tbody>
                    <tr>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Telp</th>
                        <th>Action</th>
                    </tr>
                    <ion-spinner *ngIf="!kurirnoList" name="crescent" style="display:block; margin-left: auto; margin-right:auto; margin-top: 5px; margin-bottom:5px" ></ion-spinner>
                    <tr *ngFor="let item of kurirnoList">
                      <ng-container *ngIf="!item.verifikasi">
                          <td>{{item.name}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.phoneNo}}</td>
                          <td>
                                  <button class="button label label-success" (click)="detailKurir(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Detail</button>
                                  <button class="button" (click)="editKurir(item)"><ion-icon ios="ios-create" md="md-create"></ion-icon> Ubah</button>
                                  <button class="button label label-dangerlabel label-danger" (click)="verifikasiKurir(item.id)"><ion-icon name="unlock"></ion-icon>Verifikasi</button>
                                  <button class="button label label-dangerlabel label-danger" (click)="deleteKurir(item.ids)"><ion-icon name="lock"></ion-icon>Delete</button>                            
                          </td>
                      </ng-container>

                    </tr>
                        </tbody>
                </table>    
            </div>
        </div>
    </div>
</div>
    </section>

 </ion-content>