<!--
  Generated template for the SettinginvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Setting invoice</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          Close
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm">
      <ion-list>
          <ion-item style="padding-top:10px;padding-bottom: 5px;">
              <ion-label floatingy>Mata Uang</ion-label>
                 <ion-select [(ngModel)]="form.currency" name="currency">
                    <ion-option value="Rp">Indonesia Rupiah</ion-option>
                 </ion-select>
           </ion-item>
          <ion-item style="padding-top:10px;padding-bottom: 5px;">
              <ion-label floatingy>Kode Invoice</ion-label>
                 <ion-input [(ngModel)]="form.kodeinvoice" name="kodeinvoice"></ion-input>
            </ion-item>
            <ion-item style="padding-top:10px;padding-bottom: 5px;">
              <ion-label floatingy>Nomor Invoice</ion-label>
                 <ion-input type="number" [(ngModel)]="form.invoice" name="invoice"></ion-input>
            </ion-item>
      </ion-list>
  </form>
</ion-content>
<ion-footer>
    <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="saveSetting()">Save</button>
</ion-footer>