.login {
@media (min-width: 768px) {
background-color:#8fc1bf;
.login-content{
    margin-right:15%;
    margin-left:15%;
    padding:0 20%;
}

.loginIn{
    width:80%;
    margin-left:20%;
}
form.login{
    background: #fff;
}

.toolbar-md-white .toolbar-background-md{
    background-color:#8fc1bf;
}

}

.login-phone{
        margin: 10px;
        .button{
           margin-top: 10px;
        }

        .recaptcha{
                iframe{
                    margin: 5px;
                }
        }

    }
    //background-color: #f5f5f5;
    .profile-image img {
        
        margin: 10px;
        border: 4px solid rgba(162, 162, 162, 0.4);
    }
    .landing {
        .profile-image {
            border-radius: 50%;
            margin: 10px;
            border: 4px solid rgba(255, 0, 54, 0.4);
        }
        padding-top: 20px;
        .item:first-child {
            border-radius: 5px 5px 0 0;
            border-bottom-color: #f53d3d;
            box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 91%, 0.54);
        }
        .error-message {
            .label {
                font-size: 15px;
                text-align: center;
                color: #f53d3d;
            }
        }
        @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
        background-image: url("../assets/image/shop.png");
        background-size: cover;
        font-family: 'Source Sans Pro',
        sans-serif;
        .button {
            border-radius: 5px;
        }
        .sign-in-label {
            margin: 30px 10px 10px;
            ion-label {
                text-align: center;
                color: #000;
                font-family: 'Open Sans', serif;
            }
        }
        .gmail-login-button {
            margin: 0px 10px 10px;
            color: #ffffff;
            border-width: 0;
            button {
                background-color: #dd4b39;
            }
            .button.activated {
                color: black;
            }
        }
        .facebook-twitter-login {
            margin: 10px;
            ion-col {
                padding: 0;
            }
            .facebook-login-button {
                border-color: #f4f4f4;
                color: #ffffff;
                background-color: #2559bd;
            }
            .twitter-login-button {
                border-color: #f4f4f4;
                color: #ffffff;
                background-color: #00aced;
            }
            .button.activated {
                color: black;
            }
        }
        .use-email {
            margin: 40px 10px 10px;
            ion-label {
                text-align: center;
                color: #000;
            }
        }
        .login-register {
            margin: 10px 10px 0px 10px;
            ion-col {
                padding: 0;
            }
            .login {
                text-transform: uppercase;
                border-color: #f4f4f4;
                color: #000000;
                background-color: #ffffff;
                border-color: #d2d2d2;
            }
            .register {
                text-transform: uppercase;
                border-color: #f4f4f4;
                color: #000000;
                background-color: #ffffff;
                border-color: #d2d2d2;
            }
            .button.activated {
                color: white;
            }
        }
        ion-icon {
            padding-right: 6px;
        }
    }
    .register-form {
        .error-message {
            .label {
                font-size: 15px;
                text-align: center;
                color: #f53d3d;
            }
        }
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        .button {
            margin: 0px 5px 0 20px;
        }
        .card-ios .item-ios.item-block .item-inner {
            border-bottom: 0.55px solid #f7f5f5;
        }
        .list-ios > .item-block:last-child,
        .list-ios > .item-wrapper:last-child .item-block {
            border-bottom: 0.55px solid #f7f5f5;
        }
        .login-header {
            height: 60px;
            .label {
                text-align: center;
            }
        }
    }


    ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 30%;
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;

    img{
        width:20%;
        border-radius: 50%;
    }
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  .button-ios {
    height: 2.6em;
    font-size: 1.6rem;
  }

  .card-image {
    position: absolute;
    top: 25%;
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;

    img{
        width:20%;
        border-radius: 50%;
    }
  }




  .login-content{

.margin{
     margin: 20px;
       //border: 2px solid #e2e2e2;
       padding: 20px;
       background-color: #fff;
}
.list {
    margin: 0 0 16px 0;
}
.item{
    padding: 0px;
}

    

h2{
font-size: 13px;
text-align: center;
color: #777;
letter-spacing: 0.2px;
margin-top: 10px;

a{
//color: $shadow;
}
}

img {
    max-width: 100%;
    border: 0;
  //  height: 150px;
  //  width: 150px;
    margin: auto;
    display: block;
    padding: 5% 20%;
}

hr{
  height: 1px;
}

.login{
   .list > .item-block:first-child {
    border-top: none;
   } 
   .list > .item-block:last-child {
    border-bottom: 2px solid #ddd;
   }
   .list .item-block .item-inner {
    border-bottom: none;
   }
   .item{
   border-bottom: 2px solid #ddd;
   }
   h2{
   font-size: 13px;
   text-align: right;
   color: #777;
   letter-spacing: 0.2px;
   }
   h3{
   font-size: 15px;
   text-align: center;
   }
   ion-icon{
   color: #b5b5b5;
   font-size: 2rem;
   }
   .button{
        border-radius: 20px;
   }
   .item ion-icon[item-left] {
    margin-left: 0;
    margin-top: 9px;
    margin-bottom: 0;
   }
   input{
   font-size: 15px;
   color: #222;
   letter-spacing: 0.2px;
   }

   .or-button{
    border: 1px solid #c7c7c7;
    border-radius: 50%;
    width: 42px;
    margin-top: -45px;
    background: #fff;
    position: absolute;
    right: 45%;
    }

    .item-md ion-icon[item-left] + .item-inner {
    margin-left: 0;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: #f2f2f2;
    box-shadow: none;
    }

    .item-md.item-input.input-has-focus .item-inner{
    box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: none;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: #f2f2f2;
    box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child{
    box-shadow: none;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom-color: #f2f2f2;
    box-shadow: none;
    }
}
}

        
  .account-register {

.button {
    height: 2.8em;
    border-radius: 0;
}
.margin{
    margin: 5px;
}
.list {
    margin: 0 0 16px 0;
}

.item {
    padding: 0 25px;
}
.list .item-block .item-inner {
    border-bottom: 2px solid #edecef;
}
.list > .item-block:first-child {
    border-top: none;
}
.list > .item-block:last-child {
    border-bottom: 0;
}
.label[floating] {
    margin:5px 0;
    font-size: 14px;
    color: #999;
}

.item.item-label-floating .text-input {
    margin: 8px 0;
    font-size: 15px;
}
.label {
    margin: 11px 0;
    font-size: 15px;
}
.list-header { 
    border-bottom: 0.55px solid #e9e7f3;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    //color: $side-heading-color;
}
.margin{
    margin: 25px;
    h2 {
    margin: 18px;
    font-size: 14px;
    color: red;
    }
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: #f2f2f2;
    box-shadow: none;
    }

    .item-md.item-input.input-has-focus .item-inner{
    box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #f2f2f2;
    box-shadow: none;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: #f2f2f2;
    box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child{
    box-shadow: none;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom-color: #f2f2f2;
    box-shadow: none;
    }

}

.register-header{
.toolbar-title-md {
    padding-right: 55px;
}
}

}