<!--
   Generated template for the Login page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
   <!--
<ion-header>

   <ion-navbar color="white" *ngIf="!values.isLoggedIn && _showSignup">
        <ion-title text-center >{{HeaderText}}</ion-title> 
   </ion-navbar>

</ion-header>

-->
<ion-content class="login">
<div class="login-content" *ngIf="!values.isLoggedIn && !values.isRegister">
   <div>
      <img src="assets/images/logo.png">
      <h1 text-center>AKSES ADMIN</h1>
   </div>
  <div class="margin">
    <form #f="ngForm" class="login">
      <ion-list>

        <ion-item>
          <ion-input required type="email" [(ngModel)]="form.email" name="firstname" placeholder="Username">
          </ion-input><ion-icon name="md-mail" item-left></ion-icon>
        </ion-item>

        <ion-item>
          <ion-input required type="password" [(ngModel)]="form.password" name="password" placeholder="Password">
          </ion-input><ion-icon name="md-key" item-left></ion-icon>
        </ion-item>

        <h2 tappable (click)="forgotten()">Lupa Password?</h2>

      </ion-list>

      <button ion-button block color="button-color" type="submit" class="button button-block button-default" text-uppercase [disabled]="disableSubmit" (click)="login()">LogIn
      </button>
    </form>
    <br>
    </div>
    <div>
      <h1 text-center>{{errorSigninMessage}}</h1>
  </div>
    </div>


    <div *ngIf="!values.isLoggedIn && values.isRegister" class="login-content account-register">
        <div>
            <img src="assets/images/logo.png">
            <h1 text-center>AKSES ADMIN</h1>
         </div>
    <form #f="ngForm" class="login" style="padding-top:56px;">
      <ion-list>
        <ion-item>
          <ion-label floating>Nama Anda
          </ion-label>
          <ion-input type="text" [(ngModel)]="form.firstName" name="firstname">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Nomor Telepon
          </ion-label>
          <ion-input type="number" [(ngModel)]="form.phone" name="phone">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email
          </ion-label>
          <ion-input type="email" [(ngModel)]="form.email" name="Email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password
          </ion-label>
          <ion-input type="password" [(ngModel)]="form.password" name="password">
          </ion-input>
        </ion-item>
      </ion-list>     

      <div class="margin"> 
        <button ion-button block color="button-color" type="submit" class="button button-block button-default" text-uppercase [disabled]="disableSubmit" (click)="register()">Register 
        </button>
      </div>
       <hr>
       <br>
      <button ion-button block clear type="submit" class="button button-block button-default or-button" text-uppercase style="color: #999;">Or
      </button>
      <h3 tappable>Sudah daftar? <span tappable style="color: red" (click)="hideSignup()">Login</span> Disini</h3>
      <div  class="margin">
          <h2>{{errorRegisterMessage}}
          </h2>
      </div>
    </form>
  </div>


</ion-content>