<!--
   Generated template for the Admin page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
   <ion-header>
      <ion-navbar >
         <ion-title text-left>View Order, Info dan Setting</ion-title>
      </ion-navbar>
   </ion-header>
   <ion-content>
   <ion-card>
        <ion-list inset *ngIf="values.isLoggedIn">
              <!--
            <ion-item tappable (click)="orderList()">
                  <ion-icon name="md-reorder" md="md-list" item-start></ion-icon>
                  Order List
                  <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
            </ion-item>
         
   
         <ion-item tappable (click)="akun()">
                     <ion-icon name="person" item-start></ion-icon>
                           Setting Akun ini
                     <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
               </ion-item>
               <ion-item tappable (click)="notifikasi()">
                     <ion-icon name="md-reorder" md="md-list" item-start></ion-icon>
                     Notifikasi
                     <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
               </ion-item>
               
   
            <ion-item tappable (click)="infoList()">
                  <ion-icon name="md-reorder" md="md-list" item-start></ion-icon>
                  Blog/Informasi Seller
                  <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
            </ion-item>
            <ion-item tappable (click)="infoListCC()">
               <ion-icon name="md-reorder" md="md-list" item-start></ion-icon>
               Blog/Informasi Pasien
               <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
               </ion-item>
                  <ion-item tappable (click)="infoListDD()">
               <ion-icon name="md-reorder" md="md-list" item-start></ion-icon>
               Blog/Informasi Kurir
               <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
               </ion-item>
         -->
            <ion-item tappable (click)="setting()">
                     <ion-icon name="ios-cog" item-start></ion-icon>
                     Ubah Banner
                     <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
            </ion-item>
            <ion-item tappable (click)="settinginvoice()">
                        <ion-icon name="ios-cog" item-start></ion-icon>
                        Ubah Invoice
                        <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
            </ion-item>
            <ion-item tappable (click)="settingongkir()">
                        <ion-icon name="ios-cog" item-start></ion-icon>
                        Ubah Ongkos kirim
                        <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
            </ion-item>
            <ion-item tappable (click)="kupon()">
                        <ion-icon name="ios-cog" item-start></ion-icon>
                        Kode Voucher
                        <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
            </ion-item>
               <ion-item tappable (click)="lihatAdmin()">
                     <ion-icon name="ios-cog" item-start></ion-icon>
                              Employee
                     <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
               </ion-item>
               <ion-item tappable (click)="lihatAbout()">
                     <ion-icon name="ios-cog" item-start></ion-icon>
                     About 
                     <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
               </ion-item>
               <ion-item tappable (click)="lihatTerms()">
                     <ion-icon name="ios-cog" item-start></ion-icon>
                     Terms Pasien
                     <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
               </ion-item>
               <ion-item tappable (click)="lihatTermsKurir()">
                        <ion-icon name="ios-cog" item-start></ion-icon>
                        Terms Kurir
                        <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
                  </ion-item>
               <ion-item tappable (click)="akun()">
                  <ion-icon name="person" item-start></ion-icon>
                    Rubah Akun Saya
                  <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
              </ion-item>
               <ion-item tappable (click)="logout()">
               <ion-icon name="ios-cog" item-start></ion-icon>
                  Logout
               <ion-icon name="ios-arrow-forward" style="color: #e6e6e6" item-end></ion-icon>
            </ion-item>
         </ion-list>
   </ion-card>
   </ion-content>